<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <title>Divyang</title>
      <link rel="shortcut icon" href="assets/img/favicon.png" />
      <meta name="description" content="" />
      <!-- CSS -->
      <link href="assets/css/preload.css" rel="stylesheet" />
      <!-- Compiled in vendors.js -->
      <!--
         <link href="assets/css/bootstrap.min.css" rel="stylesheet">
         <link href="assets/css/bootstrap-switch.min.css" rel="stylesheet">
         <link href="assets/css/font-awesome.min.css" rel="stylesheet">
         <link href="assets/css/animate.min.css" rel="stylesheet">
         <link href="assets/css/slidebars.min.css" rel="stylesheet">
         <link href="assets/css/lightbox.css" rel="stylesheet">
         <link href="assets/css/jquery.bxslider.css" rel="stylesheet" />
         <link href="assets/css/buttons.css" rel="stylesheet">
         -->
      <link href="assets/css/vendors.css" rel="stylesheet" />
      <link href="assets/css/syntaxhighlighter/shCore.css" rel="stylesheet" />
      <!-- RS5.0 Stylesheet -->
      <!--<link rel="stylesheet" type="text/css" href="assets/css/settings.css">
         <link rel="stylesheet" type="text/css" href="assets/css/layers.css">
         <link rel="stylesheet" type="text/css" href="assets/css/navigation.css">-->
      <!-- stepper -->
      <!--Import Multi Step Indicator css-->
      <link href="stepper/css/gsi-step-indicator.min.css" rel="stylesheet" />
      <!--Import  Step Form Wizard css-->
      <link href="stepper/css/tsf-step-form-wizard.min.css" rel="stylesheet" />
      <!--Import  demo css-->
      <link href="stepper/css/demo.min.css" rel="stylesheet" />
      <!--Plugin for validation-->
      <link href="stepper/plugin/parsley/css/parsley.css" rel="stylesheet" />
      <!-- stepper -->
      <link href="assets/css/style-blue.css" rel="stylesheet" title="default" />
      <link href="assets/css/width-full.css" rel="stylesheet" title="default" />
      <link href="assets/css/custom.css" rel="stylesheet" title="default" />
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->
   </head>
<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>
    <div class="sb-site-container">
        <div class="boxed">

                <header id="header-full-top" class="hidden-xs header-full">
                        <div class="container">
                           <div class="header-full-title">
                              <h1 class="animated fadeInRight">
                                 <a href="index-2.html"> </a>
                              </h1>
                           </div>
                           <nav class="top-nav">
                              <ul class="top-nav-social hidden-sm">
            
                                 <li>
                                    <a href="#" class="animated fadeIn animation-delay-7 "
                                       style="border-right: solid 1px #e3e6e8;"><i class="fa ">A</i></a>
                                 </li>
                                 <li>
                                    <a href="#" class="animated fadeIn animation-delay-6 "><i class="fa ">A+</i></a>
                                 </li>
                              </ul>
            
            
                              <!-- dropdown -->
                              <div class="dropdown animated fadeInDown animation-delay-13">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-microphone"></i>
                                 </a>
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            
                                    <select style="border:none">
                                       <option>English</option>
                                       <option>Hindi</option>
            
                                    </select></a>
            
                              </div>
                              <!-- dropdown -->
                              <div class="dropdown animated fadeInDown animation-delay-11">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Login</a>
                                 <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated flipCenter">
                                    <form role="form">
                                       <h4>Login Form</h4>
                                       <div class="form-group">
                                          <div class="input-group login-input">
                                             <span class="input-group-addon">
                                                <i class="fa fa-user"></i></span>
                                             <input type="text" class="form-control" placeholder="Username" />
                                          </div>
                                          <br />
                                          <div class="input-group login-input">
                                             <span class="input-group-addon">
                                                <i class="fa fa-lock"></i>
                                             </span>
                                             <input type="password" class="form-control" placeholder="Password" />
                                          </div>
                                          <div class="checkbox pull-left">
                                             <input type="checkbox" id="checkbox_remember1" />
                                             <label for="checkbox_remember1">
                                                Remember me
                                             </label>
                                          </div>
                                          <button type="submit" class="btn btn-ar btn-primary pull-right">
                                             Login
                                          </button>
                                          <div class="clearfix"></div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
            
                           </nav>
                        </div>
                        <!-- container -->
                     </header>
                     <!-- header-full -->
                     <nav class="navbar navbar-default navbar-header-full navbar-dark yamm navbar-static-top" role="navigation"
                        id="header">
                        <div class="container">
                           <!-- Brand and toggle get grouped for better mobile display -->
                           <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse"
                                 data-target="#bs-example-navbar-collapse-1">
                                 <span class="sr-only">Toggle navigation</span>
                                 <i class="fa fa-bars"></i>
                              </button>
                              <a id="ar-brand" class="navbar-brand hidden-lg hidden-md hidden-sm" href="index-2.html">
                                 <span></span></a>
                           </div>
                           <!-- navbar-header -->
                           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav">
                                 <li class="dropdown">
                                    <a href="index.html" class="dropdown-single-link">Home</a>
                                 </li>
                                 <li class="dropdown">
                                    <a href="AboutUs.html" class="dropdown-single-link">About Us</a>
                                 </li>
                                 <!-- services -->
                                 <li class="dropdown yamm-fw">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
                                       data-hover="dropdown">Services</a>
                                    <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                       <li>
                                          <div class="yamm-content">
                                             <div class="row p-b-15">
                                                <div class="col-md-12">
                                                   <h4 class="megamenu-block-title">Services</h4>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-megamenu">
                                                   <div class="megamenu-block">
                                                      <ul>
                                                         <li>
                                                            <a href="HealthCare.html"><i class="fa fa-caret-right"></i> Health
                                                               Care
                                                            </a>
                                                         </li>
                                                         <li>
                                                            <a href="Rehabilitation.html"><i class="fa fa-caret-right"></i>
                                                               Rehabilitation
                                                            </a>
                                                         </li>
                                                         <li>
                                                            <a href="Education.html"><i class="fa fa-caret-right"></i> Education
                                                            </a>
                                                         </li>
                                                         <li>
                                                            <a href="SkillTraining.html"><i class="fa fa-caret-right"></i> Skill
                                                               Training & Coaching
                                                            </a>
                                                         </li>
                                                         <li>
                                                            <a href="ELearningContent.html"><i class="fa fa-caret-right"></i>
                                                               E-Learning Content</a>
                                                         </li>
                                                      </ul>
                                                   </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-megamenu">
                                                   <div class="megamenu-block">
                                                      <ul>
                                                         <li>
                                                            <a href="EmpPrivateSector.html"><i class="fa fa-caret-right"></i>
                                                               Employment in Private sector</a>
                                                         </li>
                                                         <li>
                                                            <a href="EmpPublicSector.html"><i class="fa fa-caret-right"></i>
                                                               Employment in the Public Sector</a>
                                                         </li>
                                                         <li>
                                                            <a href="SelfEmployment.html"><i class="fa fa-caret-right"></i>
                                                               Self Employment</a>
                                                         </li>
                                                         <li>
                                                            <a href="Accessibility.html"><i class="fa fa-caret-right"></i>
                                                               Accessibility</a>
                                                         </li>
                                                         <li>
                                                            <a href="PwDEntitlements.html"><i class="fa fa-caret-right"></i> PwD
                                                               Entitlements & Support</a>
                                                         </li>
                                                      </ul>
                                                   </div>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-megamenu">
                                                   <div class="megamenu-block">
                                                      <ul>
                                                         <li>
                                                            <a href="KnowledgeBank .html"><i class="fa fa-caret-right"></i>
                                                               Knowledge
                                                               Bank</a>
                                                         </li>
                                                         <li>
                                                            <a href="MatrimonySupport.html"><i class="fa fa-caret-right"></i>
                                                               Matrimony
                                                               Support</a>
                                                         </li>
                                                         <li>
                                                            <a href="PwDEntertainment.html"><i class="fa fa-caret-right"></i> PwD
                                                               Entertainment</a>
                                                         </li>
                                                         <li>
                                                            <a href="PwDSports.html"><i class="fa fa-caret-right"></i> PwD
                                                               Sports
                                                            </a>
                                                         </li>
                                                         <li>
                                                            <a href="PwDTalentcorner.html"><i class="fa fa-caret-right"></i> PwD
                                                               Talent corner
                                                            </a>
                                                         </li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </li>
                                    </ul>
                                 </li>
                                 <!-- services -->
                                 <li class="dropdown">
                                    <a href="Schemes.html" class="dropdown-single-link">Donors</a>
                                 </li>
                                 <li class="dropdown">
                                    <a href="ActsRules.html" class="dropdown-single-link">Contact Us</a>
                                 </li>
            
                              </ul>
                           </div>
                           <!-- navbar-collapse -->
                        </div>
                        <!-- container -->
                     </nav>

            <header class="main-header">
                <div class="container">
                    <h1 class="page-title">Services</h1>

                    <ol class="breadcrumb pull-right">

                        <li><a href="#">Services</a></li>
                        <li class="active">Rehabilitation</li>
                    </ol>
                </div>
            </header>


            <header style="background-image: url('assets/img/habitationceners.png')">

                <div class=row>
                    <div class="col-md-3">
                        <img  src="assets/img/services/Rehabilitation.png" class="img-responsive"/>

                    </div>
                    <div class="col-md-9">
<h3>
        Rehabilitation
</h3>
                    </div>

                </div>

            </header>

            <div class="container content-container-services">
                <section class="margin-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="right-line">Rehabilitation</h2>
                        </div>

                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group services-pannel-acc" id="accordioncc">
                                <div class="panel panel-primary">
                                    <div class="panel-heading panel-plus-link">
                                        <a data-toggle="collapse" data-parent="#accordioncc" href="#cc1" aria-expanded="false" class="collapsed">
                                            
                                                Institutes providing Rehabilitation & physiotherapy for PwDs 

                                         
                                        </a>
                                    </div>
                                    <div id="cc1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">


                                            <div class="tsf-wizard tsf-wizard-1">
                                                <!-- BEGIN NAV STEP-->
                                                <div class="tsf-nav-step">
                                                    <!-- BEGIN STEP INDICATOR-->
                                                    <ul class="gsi-step-indicator triangle gsi-style-1  gsi-transition ">
                                                        <li class="current" data-target="step-1">
                                                            <a href="#0">
                                                                <span class="number">1</span>
                                                                <span class="desc">
                                                                            <label>What is it ? </label>
                                                                            <span>Account details</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li data-target="step-2">
                                                            <a href="#0">
                                                                <span class="number">2</span>
                                                                <span class="desc">
                                                                            <label>How do you get ? 
                                                                                </label>
                                                                            <span>Profile details</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li data-target="step-3">
                                                            <a href="#0">
                                                                <span class="number">
                                                                            3
                                                                        </span>
                                                                <span class="desc">
                                                                            <label>Who is the Authority ? </label>
                                                                            <span>Credit card details</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                        <li data-target="step-4">
                                                            <a href="#0">
                                                                <span class="number">
                                                                            4
                                                                        </span>
                                                                <span class="desc">
                                                                            <label>Facilitating Agencies ? </label>
                                                                            <span>Our site policy</span>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <!-- END STEP INDICATOR--->
                                                </div>
                                                <!-- END NAV STEP-->
                                                <!-- BEGIN STEP CONTAINER -->
                                                <div class="tsf-container">
                                                    <!-- BEGIN CONTENT-->
                                                    <div class="tsf-content">
                                                        <!-- BEGIN STEP 1-->
                                                        <div class="tsf-step step-1 active">
                                                            <fieldset>
                                                                <!-- <h4>What is disability certificate ?</legend> -->
                                                                <div class="row">
                                                                    <!-- BEGIN STEP CONTENT-->

                                                                    <div class="col-md-12">
                                                                        <!-- <p class="steper-desc">
                                                                                Disability certificate is an important document for persons with disabilities because it entitles the holder to get benefits / facilities and rights of persons with disabilities.
                                                                            </p> -->
                                                                    </div>

                                                                    <!-- END STEP CONTENT-->
                                                                </div>

                                                            </fieldset>
                                                        </div>
                                                        <!-- END STEP 1-->
                                                        <!-- BEGIN STEP 2-->
                                                        <div class=" tsf-step step-2 ">
                                                            <fieldset>
                                                                <legend>Provide your profile details</legend>
                                                                <!-- BEGIN STEP CONTENT-->
                                                                <form class="tsf-step-content">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Fullname </label>
                                                                        <input type="email" class="form-control" id="example_Fullname" placeholder="Enter fullname " required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputPassword1">Phone Number</label>
                                                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputAddress">Address</label>
                                                                        <input type="text" class="form-control" id="exampleInputAddress" placeholder="Street address">
                                                                    </div>
                                                                    <label>Gender </label>

                                                                    <div class="radio">
                                                                        <label>
                                                                                    <input type="radio" name="optionsRadios" value="option1" checked="" required="">
                                                                                    Male
                                                                                </label>
                                                                    </div>
                                                                    <div class="radio">
                                                                        <label>
                                                                                    <input type="radio" name="optionsRadios" value="option2">
                                                                                    Female
                                                                                </label>
                                                                    </div>
                                                                </form>
                                                                <!-- END STEP CONTENT-->
                                                            </fieldset>
                                                        </div>
                                                        <!-- END STEP 2-->
                                                        <!-- BEGIN STEP 3-->
                                                        <div class=" tsf-step step-3 ">
                                                            <fieldset>
                                                                <legend>Provide your billing and credit card details</legend>
                                                                <!-- BEGIN STEP CONTENT-->
                                                                <form class="tsf-step-content">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Card Holder Name </label>
                                                                        <input type="email" class="form-control" id="example_cardName" placeholder="Enter Card Holder Name" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputPassword1">Card Number</label>
                                                                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Card Number">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputAddress">CVC </label>
                                                                        <input type="text" class="form-control" id="exampleInputAddress" placeholder="CVC">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="exampleInputAddress">Expiration(MM/YYYY)</label>
                                                                        <input type="text" class="form-control" id="exampleInputAddress" placeholder="MM/YYYY">
                                                                    </div>

                                                                </form>
                                                                <!-- END STEP CONTENT-->

                                                            </fieldset>
                                                        </div>
                                                        <!-- END STEP 3-->
                                                        <!-- BEGIN STEP 4-->
                                                        <div class="tsf-step step-4">
                                                            <fieldset>
                                                                <legend>Agreement</legend>
                                                                <!-- BEGIN STEP CONTENT-->
                                                                <form class="tsf-step-content">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <p>
                                                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                                                                                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                                                                                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                    <div class="checkbox">
                                                                                        <label>
                                                                                                    <input type="checkbox"> I read agreement and i have not any objection
                                                                                                </label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                <!-- END STEP CONTENT-->
                                                            </fieldset>
                                                        </div>
                                                        <!-- END STEP 4-->

                                                    </div>
                                                    <!-- END CONTENT-->
                                                </div>
                                                <!-- END STEP CONTAINER -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading panel-plus-link">
                                        <a data-toggle="collapse" data-parent="#accordioncc" href="#cc2" class="collapsed" aria-expanded="false">
                                                List of Accessible hostels for PwDs 
                                        </a>
                                    </div>
                                    <div id="cc2" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading panel-plus-link">
                                        <a data-toggle="collapse" data-parent="#accordioncc" href="#cc3" class="collapsed" aria-expanded="false">
                                                Information on Care & Support Centres for PwD
                                        </a>
                                    </div>
                                    <div id="cc3" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading panel-plus-link">
                                        <a data-toggle="collapse" data-parent="#accordioncc" href="#cc4" class="collapsed" aria-expanded="false">
                                                Information on Rehabilitation Centres 
                                        </a>
                                    </div>
                                    <div id="cc4" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                                            on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                                            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>


                </section>


            </div>






            <!-- footer-widgets -->
            <footer id="footer">
               <p>&copy; 2019 <a href="#">DivyangIndia</a>, All rights reserved.</p>
            </footer>

        </div>
        <!-- boxed -->
    </div>
    <div id="back-top">
        <a href="#header"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- Scripts -->
    <!-- Compiled in vendors.js -->
    <!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.cookie.js"></script>
<script src="assets/js/imagesloaded.pkgd.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-switch.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/slidebars.min.js"></script>
<script src="assets/js/jquery.bxslider.min.js"></script>
<script src="assets/js/holder.js"></script>
<script src="assets/js/buttons.js"></script>
<script src="assets/js/jquery.mixitup.min.js"></script>
<script src="assets/js/circles.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/jquery.matchHeight-min.js"></script>
-->

    <script src="assets/js/vendors.js"></script>

    <!--<script type="text/javascript" src="assets/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script type="text/javascript" src="assets/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>-->



    <!-- stepper -->

    <script src="stepper/js/demo.js"></script>

    <!--Plugin for validation-->
    <script src="stepper/plugin/parsley/js/parsley.min.js"></script>
    <script src="stepper/js/tsf-wizard-plugin.js"></script>

    <script>
        $(function() {
            pageLoadScript();
        });

        function pageLoadScript() {

            _stepEffect = $('#stepEffect').val();
            _style = 'style1';
            _stepTransition = $('#stepTransition').is(':checked');
            _showButtons = $('#showButtons').is(':checked');
            _showStepNum = $('#showStepNum').is(':checked');



            $('.tsf-wizard-1').tsfWizard({
                stepEffect: _stepEffect,
                stepStyle: _style,
                navPosition: 'top',
                stepTransition: _stepTransition,
                showButtons: _showButtons,
                showStepNum: _showStepNum,
                height: '300px'
            });

        }
    </script>
    <!-- stepper -->


    <script src="assets/js/styleswitcher.js"></script>

    <!-- Syntaxhighlighter -->
    <script src="assets/js/syntaxhighlighter/shCore.js"></script>
    <script src="assets/js/syntaxhighlighter/shBrushXml.js"></script>
    <script src="assets/js/syntaxhighlighter/shBrushJScript.js"></script>

    <script src="assets/js/DropdownHover.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- <script src="assets/js/holder.js"></script> -->
    <script src="assets/js/index.js"></script>

</body>


</html>