<!DOCTYPE html>
<html>
<head>
<title>Website Under Construction </title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<style>
  body{
    height: 100vh;
    background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

  }
  .undercontimg{
    width: 38%;
    margin: auto;
    display: block;
    margin-top: 10vh;
  }
  .underconstText{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    margin: auto;
    color: #fff;
    border: 10px solid;
    padding: 12px;
  }
</style>

</head>
<body >

  <div>
<img src="underConstruction.png" class="undercontimg" />

<h1 style="text-align: center;font-family: 'Open Sans', sans-serif;">
  Website Under Construction
</h1>
  </div>
  

</body>
</html>